/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body{
    background-color: hsl(226, 43%, 10%);
    font-family: 'Rubik', sans-serif;
    margin-left: 2%;
}

@media only screen and (min-width: 375px) {

  
    
}

@media only screen and (min-width: 1440px){
     .home-div{
        display: flex;
    }

    
}