<div class="user-card">
    <div class="user-header"> 
        <img src="../../assets/images/image-jeremy.png" alt="Jeremy Robson">
        <div class="user-name">
            <p>Report for</p>
            <h2>Jeremy Robson</h2>
        </div>
    </div>
    <div class="user-time">
        <ul>
            <li><a (click)="currentTime('daily')">Daily</a></li>
            <li><a (click)="currentTime('weekly')">Weekly</a></li>
            <li><a (click)="currentTime('monthly')">Monthly</a></li>  
        </ul>
    </div>
</div>
